
/* Your CSS Code here. */
.test{
    width:600px;
    height:635px;
    border:5px solid rgb(6,253,1);
    background-color: rgb(255,185,188);
}
.item{
    height:630px;
    margin:5px;
}
.row1{
    height:200px;
}
.row2{
    margin-top: 8px;
}
.column{
    border:2px dotted black;
}
.c1{
    background-color: rgb(0,128,129);
}
.c2{
    background-color: rgb(215,191,215);
}
.c3{
    background-color:rgb(41,0,0);
}
.c4{
    background-color:rgb(254,99,71);
}
.c5{
    background-color:rgb(63,224,208);
}
.c6{
    background-color: rgb(238,130,239);
}
.c7{
    background-color: rgb(154,205,50);
}